html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;  
}


.slider-wrapper {
  display: flex;                
  width: 100vw;
  height: 100vh;
  transition: transform 0.6s ease-in-out;
}


.slide {
  min-width: 100vw;             
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
